MONGO_URI=mongodb+srv://haydenmk_db_user:hsuzuki2003@cluster0.kelfr08.mongodb.net/ics385
SESSION_SECRET=haydenmk_secret_key_12345
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret